#result-title {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    color: white;
}

#home {
    font-size: xx-large;
    text-decoration: none;
    color: rgb(224, 188, 224);
    font-family: Orbitron;
}

#home:hover {
    color: azure;
}

.single-result {
    padding: 20px;
}