div {
    text-align: center;
    margin: 20px;
}

.credit {
    text-decoration: none;
    padding: 10px;
    background-color: rgba(176, 196, 222, 0.7);
    border-radius: 5px;
}

.credit:hover {
    font-weight: bolder;
}